@use "utils/all" as *;
// @import "union";

body {
  margin: 0;
  background: $color-grey-050;
}

.union-docs {
  display: grid;
  grid-template-columns: 15rem 1fr;
  background: var(--color-neutral-500);

  &__body {
    background: $color-grey-050;
  }

  &__nav {
    background: $color-white;
  }

  &__live-preview {
    border: 1px solid $color-grey-050;
    padding: $space-l;
  }

  &__playground-actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__live-editor {
    padding: $space-l;
    border: 1px solid $color-grey-050;
    border-top: none;
    background: $color-grey-050;
  }
}
