/* Headings */
.un-heading-01 {
  @include text-preset-01;
  font-weight: $weight-bold;
}
.un-heading-02 {
  @include text-preset-02;
  font-weight: $weight-bold;
}
.un-heading-03 {
  @include text-preset-03;
  font-weight: $weight-bold;
}
.un-heading-04 {
  @include text-preset-04;
  font-weight: $weight-bold;
}
.un-heading-05 {
  @include text-preset-05;
  font-weight: $weight-bold;
}
.un-heading-06 {
  @include text-preset-06;
  font-weight: $weight-bold;
}
.un-heading-07 {
  @include text-preset-07;
  font-weight: $weight-bold;
}




