/* Titles */
.un-title {
  &-01 {
    @include text-preset-03;
    font-weight: $weight-bold;
  }
  &-02 {
    @include text-preset-04;
    font-weight: $weight-bold;
  }
  &-03 {
    @include text-preset-05;
    font-weight: $weight-bold;
  }
  &-04 {
    @include text-preset-06;
    font-weight: $weight-bold;
  }
  &-05 {
    @include text-preset-07;
    font-weight: $weight-bold;
  }
  &-06 {
    @include text-preset-08;
    font-weight: $weight-bold;
  }
}

.un-large-title {
  &-01 {
    @include text-preset-09;
    font-weight: $weight-bold;
  }
  &-02 {
    @include text-preset-10;
    font-weight: $weight-bold;
  }
  &-03 {
    @include text-preset-11;
    font-weight: $weight-bold;
  }
}





