:root {
  /* Type */
  --family-primary: 'Inter var', BlinkMacSystemFont, -apple-system, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  /* Font Weights */
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* 
    Typographic Scale
    Classical Scale based on Bringhurst's "The Elements of Typographic Style"
   */
  --type-scale-01: 0.75rem; /* 12px */
  --type-scale-02: 0.875rem; /* 14px */
  --type-scale-03: 1rem; /* 16px */
  --type-scale-04: 1.125rem; /* 18px */
  --type-scale-05: 1.3125rem; /* 21px */
  --type-scale-06: 1.5rem; /* 24px */
  --type-scale-07: 1.875rem; /* 30px */
  --type-scale-08: 2.25rem; /* 36px */
  --type-scale-09: 3rem; /* 48px */
  --type-scale-10: 3.75rem; /* 60px */
  --type-scale-11: 4.5rem; /* 72px */

  // Typographic Measure
  --measure: 60ch;

  /* Space */
  --space-unit: 1rem; /* 16dp (px) */
  --space-xxs: calc(var(--space-unit) / 8); /* 2dp (px) */
  --space-xs: calc(var(--space-unit) / 4); /* 4dp (px) */
  --space-s: calc(var(--space-unit) / 2); /* 8dp (px) */
  --space-m: var(--space-unit); /* 16dp (px) */
  --space-l: calc(var(--space-unit) * 2); /* 32dp (px) */
  --space-xl: calc(var(--space-unit) * 4); /* 64dp (px) */
  --space-xxl: calc(var(--space-unit) * 8); /* 128dp (px) */

  /* Responsive */
  --desktop: 60rem; /* 960px */

  /* Color: Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-050: hsl(0, 0%, 97%);
  --color-grey-100: hsl(0, 0%, 88%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-300: hsl(0, 0%, 69%);
  --color-grey-400: hsl(0, 0%, 62%);
  --color-grey-500: hsl(0, 0%, 50%);
  --color-grey-600: hsl(0, 0%, 38%);
  --color-grey-700: hsl(0, 0%, 32%);
  --color-grey-800: hsl(0, 0%, 23%);
  --color-grey-900: hsl(0, 0%, 13%);
  --color-black: hsl(0, 0%, 0%);

  /* Color: Primary */
  --color-primary-050: hsl(240, 100%, 95%);
  --color-primary-100: hsl(240, 100%, 90%);
  --color-primary-200: hsl(240, 100%, 80%);
  --color-primary-300: hsl(240, 100%, 70%);
  --color-primary-400: hsl(240, 100%, 60%);
  --color-primary-500: hsl(240, 100%, 50%);
  --color-primary-600: hsl(240, 100%, 40%);
  --color-primary-700: hsl(240, 100%, 30%);
  --color-primary-800: hsl(240, 100%, 20%);
  --color-primary-900: hsl(240, 100%, 10%);
}

/* Map Design Tokens to SCSS Variables for easier SCSS design
   ========================================================================== */

$family-primary: var(--family-primary);
$weight-light: var(--weight-light);
$weight-normal: var(--weight-normal);
$weight-medium: var(--weight-medium);
$weight-bold: var(--weight-bold);

$type-scale-01: var(--type-scale-01);
$type-scale-02: var(--type-scale-02);
$type-scale-03: var(--type-scale-03);
$type-scale-04: var(--type-scale-04);
$type-scale-05: var(--type-scale-05);
$type-scale-06: var(--type-scale-06);
$type-scale-07: var(--type-scale-07);
$type-scale-08: var(--type-scale-08);
$type-scale-09: var(--type-scale-09);
$type-scale-10: var(--type-scale-10);
$type-scale-11: var(--type-scale-11);

$measure: var(--measure);

$space-unit: var(--space-unit);
$space-xxs: var(--space-xxs);
$space-xs: var(--space-xs);
$space-s: var(--space-s);
$space-m: var(--space-m);
$space-l: var(--space-l);
$space-xl: var(--space-xl);
$space-xxl: var(--space-xxl);

$desktop: var(--desktop);

$color-white: var(--color-white);
$color-grey-050: var(--color-grey-050);
$color-grey-100: var(--color-grey-100);
$color-grey-200: var(--color-grey-200);
$color-grey-300: var(--color-grey-300);
$color-grey-400: var(--color-grey-400);
$color-grey-500: var(--color-grey-500);
$color-grey-600: var(--color-grey-600);
$color-grey-700: var(--color-grey-700);
$color-grey-800: var(--color-grey-800);
$color-grey-900: var(--color-grey-900);
$color-black: var(--color-black);

$color-primary-050: var(--color-primary-050);
$color-primary-100: var(--color-primary-100);
$color-primary-200: var(--color-primary-200);
$color-primary-300: var(--color-primary-300);
$color-primary-400: var(--color-primary-400);
$color-primary-500: var(--color-primary-500);
$color-primary-600: var(--color-primary-600);
$color-primary-700: var(--color-primary-700);
$color-primary-800: var(--color-primary-800);
$color-primary-900: var(--color-primary-900);

$background-black: $color-black;
$background-dark: $color-grey-900;
$background-neutral: $color-grey-300;
$background-neutral-light: $color-grey-050;

$border-color: $color-grey-200;
