@use "utils/all" as *;

.un-text {
  font-family: $family-primary;
  font-weight: $weight-normal;
  max-width: $measure;

  &.is-size-1 {
    @include text-preset-03;
  }
  &.is-size-2 {
    @include text-preset-02;
  }
  &.is-size-3 {
    @include text-preset-01;
  }

  &.is-align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.is-align-right {
    margin-left: auto;
    text-align: right;
  }
}
