@use "../utils/all" as *;

:root {
  font-family: $family-primary;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

// Typographic Measure
//  ========================================================================== */
* {
  max-width: $measure;
}

html,
body,
div,
article,
section,
header,
hr,
nav,
main,
footer {
  max-width: none;
}
