$font-family-default: sans-serif;
$font-weight-normal: 400;

// Typography
$size-font-base: 1rem;
$font-scale: 1.2;

$size-text-1-scale: 10px;
$size-text-2-scale: 12px;
$size-text-3-scale: 14px;
$size-text-4-scale: 16px; // Base/Root
$size-text-5-scale: 18px;
$size-text-6-scale: 20px;
$size-text-7-scale: 24px;
$size-text-8-scale: 32px;
$size-text-9-scale: 64px;

$type-scale: (
	'1': $size-text-1-scale,
	'2': $size-text-2-scale,
	'3': $size-text-3-scale,
	'4': $size-text-4-scale,
	'5': $size-text-5-scale,
	'6': $size-text-6-scale,
	'7': $size-text-7-scale,
	'8': $size-text-8-scale,
	'9': $size-text-9-scale
);

// Color
$color-text-default: #333;

$color-background-body: #fff;
$color-text-body: $color-text-default;
