/*! Union v0.0.1 | https://github.com/jamespatrickgibson/union */
/* Destyle
   An Opinionated Reset - https://nicolas-cusan.github.io/destyle.css/
   ========================================================================== */
/*! destyle.css v1.0.10 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
   ========================================================================== */
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type=checkbox] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
  /* 1 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Design Tokens as CSS Variables (Custom Properties)
   ========================================================================== */
:root {
  /* Type */
  --family-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  /* Font Weights */
  --weight-light: 300;
  --weight-normal: 400;
  --weight-bold: 600;
  /* 
    Typographic Scale
    Classical Scale based on Bringhurst's "The Elements of Typographic Style"
   */
  --type-scale-01: 0.75rem;
  /* 12px */
  --type-scale-02: 0.875rem;
  /* 14px */
  --type-scale-03: 1rem;
  /* 16px */
  --type-scale-04: 1.125rem;
  /* 18px */
  --type-scale-05: 1.3125rem;
  /* 21px */
  --type-scale-06: 1.5rem;
  /* 24px */
  --type-scale-07: 1.875rem;
  /* 30px */
  --type-scale-08: 2.25rem;
  /* 36px */
  --type-scale-09: 3rem;
  /* 48px */
  --type-scale-10: 3.75rem;
  /* 60px */
  --type-scale-11: 4.5rem;
  /* 72px */
  /* Baseline Scale */
  --baseline-scale-unit: 0.5rem;
  /* 4pt (px) */
  /* Space */
  --space-unit: 1rem;
  /* 16pt (px) */
  --space-xxs: calc(var(--space-unit) / 8);
  /* 2pt (px) */
  --space-xs: calc(var(--space-unit) / 4);
  /* 4pt (px) */
  --space-s: calc(var(--space-unit) / 2);
  /* 8pt (px) */
  --space-m: var(--space-unit);
  /* 16pt (px) */
  --space-l: calc(var(--space-unit) * 2);
  /* 32pt (px) */
  --space-xl: calc(var(--space-unit) * 4);
  /* 64pt (px) */
  --space-xxl: calc(var(--space-unit) * 8);
  /* 128pt (px) */
  /* Responsive */
  --desktop: 60rem;
  /* 960px */
  /* Color: Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-050: hsl(0, 0%, 97%);
  --color-grey-100: hsl(0, 0%, 88%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-300: hsl(0, 0%, 69%);
  --color-grey-400: hsl(0, 0%, 62%);
  --color-grey-500: hsl(0, 0%, 50%);
  --color-grey-600: hsl(0, 0%, 38%);
  --color-grey-700: hsl(0, 0%, 32%);
  --color-grey-800: hsl(0, 0%, 23%);
  --color-grey-900: hsl(0, 0%, 13%);
  --color-black: hsl(0, 0%, 0%);
  /* Color: Primary */
  --color-primary-050: hsl(240, 100%, 95%);
  --color-primary-100: hsl(240, 100%, 90%);
  --color-primary-200: hsl(240, 100%, 80%);
  --color-primary-300: hsl(240, 100%, 70%);
  --color-primary-400: hsl(240, 100%, 60%);
  --color-primary-500: hsl(240, 100%, 50%);
  --color-primary-600: hsl(240, 100%, 40%);
  --color-primary-700: hsl(240, 100%, 30%);
  --color-primary-800: hsl(240, 100%, 20%);
  --color-primary-900: hsl(240, 100%, 10%);
}

/* Map Design Tokens to SCSS Variables for easier SCSS design
   ========================================================================== */
/* Mixins & Functions
   ========================================================================== */
/* Text Preset Mixins */
/* Base Styling
   ========================================================================== */
html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: var(--family-primary);
  font-size: 1rem;
  background-color: var(--color-grey-050);
  color: var(--color-grey-900);
}

/* Components
   ========================================================================== */
.un-code {
  font-size: var(--type-scale-01);
  background: var(--color-grey-100);
  color: var(--color-black);
  height: calc(var(--baseline-scale-unit) * 2);
  line-height: calc(var(--baseline-scale-unit) * 2);
  display: inline-block;
  padding: 0 var(--space-xs);
}

/* Titles */
.un-title-01 {
  font-size: var(--type-scale-03);
  font-weight: var(--weight-bold);
}
.un-title-02 {
  font-size: var(--type-scale-04);
  font-weight: var(--weight-bold);
}
.un-title-03 {
  font-size: var(--type-scale-05);
  letter-spacing: -0.018em;
  font-weight: var(--weight-bold);
}
.un-title-04 {
  font-size: var(--type-scale-06);
  letter-spacing: -0.019em;
  font-weight: var(--weight-bold);
}
.un-title-05 {
  font-size: var(--type-scale-07);
  letter-spacing: -0.021em;
  font-weight: var(--weight-bold);
}
.un-title-06 {
  font-size: var(--type-scale-08);
  letter-spacing: -0.022em;
  font-weight: var(--weight-bold);
}

.un-large-title-01 {
  font-size: var(--type-scale-09);
  letter-spacing: -0.022em;
  font-weight: var(--weight-bold);
}
.un-large-title-02 {
  font-size: var(--type-scale-10);
  letter-spacing: -0.022em;
  font-weight: var(--weight-bold);
}
.un-large-title-03 {
  font-size: var(--type-scale-11);
  letter-spacing: -0.022em;
  font-weight: var(--weight-bold);
}

.un-text-container > * + * {
  margin-top: var(--space-m);
}

.un-subheading-01 {
  font-size: var(--type-scale-03);
  font-weight: var(--weight-bold);
}

/* Body */
.un-body-01 {
  max-width: 55ch;
  font-size: var(--type-scale-02);
  line-height: calc(var(--baseline-scale-unit) * 3);
}

.un-body-02 {
  max-width: 55ch;
  font-size: var(--type-scale-03);
  line-height: calc(var(--baseline-scale-unit) * 3);
}

/* Generic */
a {
  color: var(--color-primary-500);
}
a:hover {
  color: var(--color-primary-800);
}

/* Main Header */
.main-header {
  background: var(--color-black);
  color: var(--color-white);
  padding: 0 var(--space-xl);
  height: calc(var(--baseline-scale-unit) * 18);
  display: flex;
  align-items: center;
}
.main-header a, .main-header a:hover {
  color: var(--color-white);
  text-decoration: underline;
}
.main-header__title {
  text-transform: lowercase;
  font-weight: var(--weight-bold);
}

/* Main Nav */
.main-nav {
  height: calc($space-unit * 3);
  padding: var(--space-m);
  background: var(--color-grey-900);
  color: var(--color-white);
}

/* Intro */
.introduction {
  padding: var(--space-xl);
}

.brand {
  letter-spacing: -0.05em;
  display: block;
  margin-bottom: var(--space-xl);
}

.current-version {
  font-size: var(--type-scale-02);
  margin-top: var(--space-l);
  font-weight: var(--weight-bold);
}

/* Table of Contents */
.toc {
  padding: 0 var(--space-xl);
}
.toc > * + * {
  margin-top: var(--space-m);
}
.toc__link {
  font-size: var(--type-scale-02);
}
.toc ul ul {
  padding-left: var(--space-s);
}

/* Sections */
.docs-section {
  padding: var(--space-xl);
}

.docs-section > * + * {
  margin-top: var(--space-xl);
}

/* Articles */
.docs-article > * + * {
  margin-top: var(--space-m);
}

/* Mixin Utilities  */
.text-preset-01 {
  font-size: var(--type-scale-01);
}

.text-preset-02 {
  font-size: var(--type-scale-02);
}

.text-preset-03 {
  font-size: var(--type-scale-03);
}

.text-preset-04 {
  font-size: var(--type-scale-04);
}

.text-preset-05 {
  font-size: var(--type-scale-05);
  letter-spacing: -0.018em;
}

.text-preset-06 {
  font-size: var(--type-scale-06);
  letter-spacing: -0.019em;
}

.text-preset-07 {
  font-size: var(--type-scale-07);
  letter-spacing: -0.021em;
}

/*# sourceMappingURL=docs.css.map */
