@use "utils/tokens" as *;
@use "utils/functions" as *;

// Text Preset Mixins

// Text
@mixin text-preset-01 {
  font-size: $type-scale-01; // 12dp
  line-height: baseline(4); // 16dp
  letter-spacing: 0em;
}
@mixin text-preset-02 {
  font-size: $type-scale-02; // 14dp
  line-height: baseline(5); // 20dp
  letter-spacing: -0.006em;
}
@mixin text-preset-03 {
  font-size: $type-scale-03; // 16dp
  line-height: baseline(6); // 24dp
  letter-spacing: -0.011em;
}
// Headings
@mixin text-preset-04 {
  font-size: $type-scale-04; // 18dp
  line-height: baseline(6); // 24dp
  letter-spacing: -0.014em;
}
@mixin text-preset-05 {
  font-size: $type-scale-05; // 21dp
  line-height: baseline(7); // 28dp
  letter-spacing: -0.018em;
}
@mixin text-preset-06 {
  font-size: $type-scale-06; // 24dp
  line-height: baseline(8); // 32dp
  letter-spacing: -0.019em;
}
@mixin text-preset-07 {
  font-size: $type-scale-07; // 30dp
  line-height: baseline(10); // 40dp
  letter-spacing: -0.021em;
}
@mixin text-preset-08 {
  font-size: $type-scale-08; // 36dp
  line-height: baseline(12); // 48dp
  letter-spacing: -0.022em;
}
// Display
@mixin text-preset-09 {
  font-size: $type-scale-09; // 48dp
  line-height: baseline(15); // 60dp
  letter-spacing: -0.022em;
}
@mixin text-preset-10 {
  font-size: $type-scale-10; // 60dp
  line-height: baseline(18); // 72dp
  letter-spacing: -0.022em;
}
@mixin text-preset-11 {
  font-size: $type-scale-11; // 72dp
  line-height: baseline(20); // 80dp
  letter-spacing: -0.022em;
}

// Text Presets - Bold Variants
@mixin text-preset-01--bold {
  @include text-preset-01;
  font-weight: $weight-bold;
}
@mixin text-preset-02--bold {
  @include text-preset-02;
  font-weight: $weight-bold;
}
@mixin text-preset-03--bold {
  @include text-preset-03;
  font-weight: $weight-bold;
}
@mixin text-preset-04--bold {
  @include text-preset-04;
  font-weight: $weight-bold;
}
@mixin text-preset-05--bold {
  @include text-preset-05;
  font-weight: $weight-bold;
}
@mixin text-preset-06--bold {
  @include text-preset-06;
  font-weight: $weight-bold;
}
@mixin text-preset-07--bold {
  @include text-preset-07;
  font-weight: $weight-bold;
}
@mixin text-preset-08--bold {
  @include text-preset-08;
  font-weight: $weight-bold;
}
@mixin text-preset-09--bold {
  @include text-preset-09;
  font-weight: $weight-bold;
}
@mixin text-preset-10--bold {
  @include text-preset-10;
  font-weight: $weight-bold;
}
@mixin text-preset-11--bold {
  @include text-preset-11;
  font-weight: $weight-bold;
}
