@import 'union';

/* Main Header */
.main-header {
  background: $color-black;
  color: $color-white;
  padding: $space-xl;
}
.main-header__title {
  text-transform: lowercase;
  font-weight: $weight-bold;
}

/* Main Nav */
.main-nav {
  height: calc($space-unit * 3);
  padding: $space-m;
  background: $color-grey-900;
  color: $color-white;
}

/* Intro */
.brand {
  letter-spacing: -0.05em;
  display: block;
  margin-bottom: $space-xl;
}

/* Table of Contents */
.toc {
  padding: 0 $space-xl;
}

/* Sections */
.docs-section {
  padding: $space-xl;
}
.docs-section > * + *  {
  margin-top: $space-xl;
}
.docs-section__header {
}

/* Articles */
.docs-article > * + * {
  margin-top: $space-m;
}