@import 'union';

/* Generic */
a {
  color: $color-primary-500;

  &:hover {
    color: $color-primary-800;
  }
}

/* Main Header */
.main-header {
  background: $color-black;
  color: $color-white;
  padding: 0 $space-xl;
  height: baseline-scale(18);
  display: flex;
  align-items: center;
  a, a:hover {
    color: $color-white;
    text-decoration: underline;
  }
  &__title {
    text-transform: lowercase;
    font-weight: $weight-bold;
  }
}

/* Main Nav */
.main-nav {
  height: calc($space-unit * 3);
  padding: $space-m;
  background: $color-grey-900;
  color: $color-white;
}

/* Intro */
.introduction {
  padding: $space-xl;
}
.brand {
  letter-spacing: -0.05em;
  display: block;
  margin-bottom: $space-xl;
}
.current-version {
  @include text-preset-02;
  margin-top: $space-l;
  font-weight: $weight-bold;
}

/* Table of Contents */
.toc {
  padding: 0 $space-xl;

  & > * + * {
    margin-top: $space-m;
  }

  &__link {
    @include text-preset-02;
  }

  ul ul {
    padding-left: $space-s;
  }
}

/* Sections */
.docs-section {
  padding: $space-xl;
}
.docs-section > * + *  {
  margin-top: $space-xl;
}
.docs-section__header {
  p {
    @include text-preset-03;
  }
}

/* Articles */
.docs-article > * + * {
  margin-top: $space-m;
}

/* Mixin Utilities  */
.text-preset-01 { @include text-preset-01; }
.text-preset-02 { @include text-preset-02; }
.text-preset-03 { @include text-preset-03; }
.text-preset-04 { @include text-preset-04; }
.text-preset-05 { @include text-preset-05; }
.text-preset-06 { @include text-preset-06; }
.text-preset-07 { @include text-preset-07; }