/*! Union v0.0.1 | https://github.com/jamespatrickgibson/union */

/* Destyle
   An Opinionated Reset - https://nicolas-cusan.github.io/destyle.css/
   ========================================================================== */
@import 'base/destyle';


/* Design Tokens as CSS Variables (Custom Properties)
   ========================================================================== */
@import 'utils/tokens';


/* Base Styling
   ========================================================================== */
@import 'base/generic';

/* Components
   ========================================================================== */

@import 'components/text-container';
@import 'components/heading';
@import 'components/subheading';


/* Body */
.un-body-01 {
  max-width: 55ch;
  font-size: var(--type-scale-02);
  line-height: calc(var(--baseline-scale-unit) * 3);
}
.un-body-02 {
  max-width: 55ch;
  font-size: var(--type-scale-03);
  line-height: calc(var(--baseline-scale-unit) * 3);
}