@use "utils/all" as *;

.un-link {
  color: $color-primary-400;
  text-decoration: none;

  &:hover {
    color: $color-primary-700;
  }
}

.un-link.is-monochrome {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
