@use "utils/all" as *;

.un-link {
  color: var(--color-primary-400);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-700);
  }
}

.un-link.is-monochrome {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
